fastapi
uvicorn[standard]
sqlalchemy
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
pytest
trio
fastapi_pagination
pymysql
databases
sshtunnel
mecab-python3
unidic-lite
scikit-learn
pandas
numpy